body::before {
  display: block;
  content: '';
  height: 60px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

footer {
  display: relative;
} 


/* .arrowup {
  position: absolute;
  bottom: -415vh;
  right: 50px;
  height: 1em;
}  */

 .arrowup {
  position: absolute;
  bottom: 0;
  right: 0;
} 

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
